*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --Beige: #EAF2D7;
}
html{
    font-size: 65.2%;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--Violet);
    background-image: url('/src/images/bg-mobile.svg');
    background-position: top;
    background-repeat: no-repeat;
    padding: 2rem 1rem;
}
.header__logo{
    max-width: 40%;
    margin-bottom: 4rem;
}
.banner{
    max-width: 100%;
}
.information{
    text-align: center;
    color: var(--Beige);
}
.title{
    font-size: 2.4rem;
}
.paragraph{
    line-height: 2;
    margin-bottom: 4rem;
    padding: 0 4rem 0 4rem;
}
.button{
    background-color: var(--Beige);
    border: none;
    border-radius: 25px;
    padding: 1.5rem 8rem;
    margin: 1rem 0 2.5rem 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    font-family: 'Poppins';
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.social__icon{
    width: 3.5rem;
    height: 3.5rem;
    color: var(--Beige);
    border: 1px solid var(--Beige);
    border-radius: 50%;
    padding: .5rem;
    margin: .5rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-align: center;
}

@media (min-width:768px){
    body{
        background-image: url('/src/images/bg-desktop.svg');
    } 
    .main__content{
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header__logo{
        max-width: 25%;
    }
    .banner{
        max-width: 45%;
        max-height: 60%;
    }
    .information{
        width: 50%;
        text-align: left;
        margin-left: 1.5rem;
    }
    .paragraph{
        padding: 0;
    }
    .social{
        justify-content: flex-end;
    }
    .button:hover{
        background-color: var(--Soft-Magenta);
        transition: .3s;
    }
    .social__icon:hover{
        color: var(--Soft-Magenta);
        transition: .3s;
        border-color: var(--Soft-Magenta);
    }
}
@media(min-width:1024px){
    .information{
        height: 65%;
    }
    .title{
        font-size: 3rem;
    }
    .paragraph{
        font-size: 1.2rem;
    }
}
